/*header style*/
header {
  text-align: center; 
  padding: 20px;
  color: #ffffff;
  background-color: #454545
}
/*navigation menu style*/
nav {
  text-align: center;
  word-spacing: 30px;
  Padding: 10px;
}
/*creating the two-column layout*/
*{
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.post-text-box {
  flex: 70%;
  padding: 20px;
}

.play{
  text-align: center;
}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}



.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.post {
  flex: 70%;
  padding: 20px;
}
.profile {  
  flex: 70%;
  padding: 20px;
}
 .wg{
  text-align: right;
 }
/*profile image and heading style*/
.profile img {
  width: 120px;
  display: flex; 
  margin-left: 0;
  margin-right: 0;
}
.profile h1 {
  text-align: center;
}

/*navigation bar style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
  background-color: #910000
  
}
/*navigation bar button style*/
nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: larger;
}
.footer {
  text-align: center;
}